## Tuples

Our second useful data structure provided to us by Python is the tuple. Now that we understand how lists work we'll be able to cover tuples in a fraction of the time, as they are very similar data structures.

As with a list, a tuple is an ordered collection of data, where each element can be any of the basic Python object types, such as a `str`, `int`, `bool` or `float`. As we saw with lists, a tuple could also contain a tuple or a list. However, a tuple is immutable, so once you have created a tuple, you cannot modify its contents.


Let us first start by creating a new tuple. Again, we use a sequence of comma separated values, but this time enclosed in round brackets. We use the `=` sign to assign the tuple to the variable `T`.

In [1]:
T = (1, "Two", -3, True)
type(T)

tuple

If we want to, we can be very lazy, and use no brackets at all when defining a tuple!

In [2]:
T = 1, "Two", -3, True
type(T)

tuple

Indexing and slicing works in exactly the same way as it did with lists, by using the indexing operator `[ ]`. Therefore we won't go into the same level of detail, but there are a couple of examples below just to convince you that this is true.

In [3]:
T = 10,9,8,7,6,5,4,3,2,1
len(T)

10

In [4]:
T[1]

9

In [5]:
T[2:6:1]

(8, 7, 6, 5)

In [6]:
T[0:len(T):2]

(10, 8, 6, 4, 2)

In [7]:
T[::-1]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

As the tuple is an immutable data structure, we can't use any of the methods that we used to modify lists. If you try to run the examples below they will give you errors.

In [8]:
T.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
T.sort()

AttributeError: 'tuple' object has no attribute 'sort'

Other than the modification methods, almost every method or function that works on lists will work on tuples. For example we can still use the basic Python functions such as `min`, `max` and `sum`, as these don't try to modify our tuple.

In [10]:
min(T)

1

In [11]:
max(T)

10

In [12]:
sum(T)

55

You may now be wondering why would we ever use a tuple! Surely a list is much more useful to us as we can modify it's contents whenever we please. One of the reasons is that a tuple provides some level of "write protection", though this only works if the tuple only contains immutable objects. I could, for instance, have a list in my tuple, and I would be able to edit the values in the list, as it is a mutable object itself.

In [13]:
# We're not allowed to modify the values within a tuple...
T = (1,2,[3,4,5])
T[0] = 10

TypeError: 'tuple' object does not support item assignment

In [14]:
# ...but we can modify the values in a list that is stored in a tuple.
T[2][0] = 20
print(T)

(1, 2, [20, 4, 5])

Another popular use of tuples is to return multiple pieces of data from a function. We'll see this when we cover functions later in the course.

Hopefully you found this notebook much quicker to cover as there was little new to learn. As ever, direct any questions about tuples towards your demonstrators now, otherwise let us move on to our third data structure in the next notebook.